# precompiled files
.precomp
lib/.precomp

# distributions
sdist

# benchmarks of alternative implementations and benchmark logs
benchmark/heap-*
benchmark/sort.raku
benchmark/*.log

# profiles
profile-*.html
